@font-face {
  font-family: 'LondrinaSketch';
  src: url('/fonts/londria_fonts/LondrinaSketch-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LondrinaSolidLight';
  src: url('/public/fonts/londria_fonts/LondrinaSolid-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

@theme {
  --font-londrina-sketch: 'LondrinaSketch', sans-serif;
  --font-londrina-solid-light: 'LondrinaSolidLight', sans-serif;
}

body {
  background-image: linear-gradient(to top right, rgba(20, 83, 45, 0.7), rgba(22, 163, 74, 0.7), rgba(253, 224, 71, 0.7)), url('/src/assets/ivy_cat.jpg');
  background-size: cover;
  background-position: center;
}
